
/* This is where we will apply general styles such as h1 and p styles */

body {
    background-color: var(--color-off-white);
    font-family: var(--font-primary);
}

h1{
    font-family: "Tajawal";
    font-weight: 900;
    font-size: 3rem;
}