#home{
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.logo {

}

.city-card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 90%;
}

.city-card {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    margin: 20px; 
}